<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Card</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="border: none; border-radius: 10px; padding: 30px; width: 400px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; background-color: #ffffff; text-align: center; transition: transform 0.3s, box-shadow 0.3s;">
        <img src="http://healthhub.runasp.net/Image/User/logo1.png" alt="Logo" style="display: block; margin: 0 auto 20px; width: 200px; height: auto; transition: transform 0.3s;">
        <div style="font-size: 1.6em; margin-bottom: 20px; color:#87CEEB;">Hello [UserName]</div>
        <div style="font-size: 1.2em; color: #143F6B;">[Message]</div>
    </div>
</body>
</html>