@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



/* Login & Register */
.login{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.login .container{
  position: relative;
  border-radius: 10px;
  width: 1000px;
  height: 800px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.login .container .user{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.login .container .user .imgBx{
  position: relative;
  width: 70%;
  height: 100%;
  transition: 0.5s;
}
.login .container .user .imgBx img{
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login .container .user .formBx{
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.login .container .user .formBx form h1{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  color: midnightblue;
  font-size: 20px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 200px;
}
.form__groupU{
  position: relative;
  width: 100%;
  display: flex;
  margin: 20px 0;
}
.form__groupF{
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 200px;
  display: flex;
}

.form__field,
.form__field2,
.form__field3,
.form__field4,
.form__field5,
.form__field6,
.form__field7{
  outline: none;
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
  font-size: 17px;
  color: #2c3e50;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}


.form__field::placeholder,
.form__field2::placeholder,
.form__field3::placeholder,
.form__field4::placeholder,
.form__field5::placeholder,
.form__field6::placeholder,
.form__field7::placeholder{
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label,
.form__field2:placeholder-shown ~ .form__label2,
.form__field3:placeholder-shown ~ .form__label3,
.form__field4:placeholder-shown ~ .form__label4,
.form__field5:placeholder-shown ~ .form__label5,
.form__field6:placeholder-shown ~ .form__label6,
.form__field7:placeholder-shown ~ .form__label7{
  font-size: 17px;
  cursor: text;
  top: 30px;
}

.form__label,
.form__label2,
.form__label3,
.form__label4,
.form__label5,
.form__label6,
.form__label7{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s ease-in-out;
  font-size: 17px;
  color: gray;
  pointer-events: none;
  text-transform: capitalize;
}

.form__field:focus,
.form__field2:focus,
.form__field3:focus,
.form__field4:focus,
.form__field5:focus,
.form__field6:focus,
.form__field7:focus{
  padding-bottom: 6px;
  border-width: 3px;
  border-bottom: 2px solid #87cefa;
}

.form__field:focus ~ .form__label,
.form__field2:focus ~ .form__label2,
.form__field3:focus ~ .form__label3,
.form__field4:focus ~ .form__label4,
.form__field5:focus ~ .form__label5,
.form__field6:focus ~ .form__label6,
.form__field7:focus ~ .form__label7{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #87cefa;
  font-weight: 500;
}


.form__field:required, .form__field:invalid,
.form__field2:required, .form__field2:invalid,
.form__field3:required, .form__field3:invalid,
.form__field4:required, .form__field4:invalid,
.form__field5:required, .form__field5:invalid,
.form__field6:required, .form__field6:invalid,
.form__field7:required, .form__field7:invalid{
  box-shadow: none;
}
.eg{
  width: 20px;
  height: 20px;
  float: left;
}
.birthday{
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid gray;
  color: #2c3e50;
  outline: none;
}
.birthday:focus{
  border: 1px solid #87cefa;
}


.login select{
  color: #2c3e50;
  outline: none;
}
.login select:focus{
  border: 1px solid #87cefa;
}
.login select::-ms-expand {
  display: none;
}
.login select optgroup{
  color: #2c3e50;
}

.selectGender{
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
  outline: none;

}
.selectArea, .selectGov {
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  width: 200px;
  outline: none;

}


.send{
  max-width: 100px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  background-color: midnightblue;
  border-radius: 10px;
  border: solid 1px white;
  margin: 20px 200px 0 0;
  padding: 10px;
}
.send:hover{
  background-color: white;
  color: #87cefa;
  border: solid 1px #87cefa;
}
.login .container .user .formBx form .signup{
  position: relative;
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
  min-width: 300px;
  font-weight: 500;
}
.login .container .user .formBx form .signup a{
  text-decoration: none;
  font-weight: 600;
  color: #87cefa;
  text-transform: capitalize;
}
.login .container .singupBx{
  pointer-events: none;
}
.login .container.active .singupBx{
  pointer-events: initial;
}
.login .container .singupBx .formBx{
  top: 100%;
}
.login .container.active .singupBx .formBx{
  top: 0;
}
.login .container .singupBx .imgBx{
  top: -100%;
}
.login .container.active .singupBx .imgBx{
  top: 0;
}
.login .container .singinBx .formBx{
  top: 0;
}
.login .container.active .singinBx .formBx{
  top: 100%;
}
.login .container .singinBx .imgBx{
  top: 0;
}
.login .container.active .singinBx .imgBx{
  top: -100%;
}
.validation{
  color: red;
  font-size: 14px;
  visibility: hidden;
  text-align: left;
}
.validationR{
  color: red;
  font-size: 14px;
  visibility: hidden;
  text-align: left;
}
.max{
  color: red;
  font-size: 10pt;
  visibility: hidden;
  text-align: left;
}
#errMsg{
  color: red;
  font-size: 10pt;
  text-align: left;
  margin: 5px 0;
  width: 300px;
  transition: .5s ease-in-out all;
}
#sp, #sp2{
  visibility: hidden;
  transition: .5s ease-in-out all;
}
#r{
  margin-right: 60%;
}
#already{
  margin-right: 20%;
}

/* Login & Register */








.profile {
  display: flex;
  background-color: whitesmoke;
  height: 100vh;
  flex-direction: column;
}

.header {
  padding: 10px;
  height: 5%;
  position: relative;
  width: 100%;
}



.section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95%;
  column-gap: 2%;
}
.form{
  width: 60%;
  height: 650px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 18px rgba(0,0,0,.02);
  border: .0625rem solid rgba(46, 54, 80, .125);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}


.detailsImg{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .5rem;
    padding: 20px;
    box-shadow: 0 2px 18px rgba(0,0,0,.02);
}
.detailsImg h5{
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #143F6B;
  text-align: left;
  text-transform: capitalize;
}
.detailsImg .fileDetails{
  display: flex;
  padding: 10px;
  align-items: center;
}
.detailsImg .fileDetails .imgPr{
  margin-right: 10px;
}
.detailsImg .fileDetails .imgPr img {
  width: 100px;
  border-radius: 50px;
}
.uploadPh{
  width: 40px;
  height: 40px;
}
.detailsImg input{
    width: 150px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.detailsImg .type{
  margin-left: 10px;
}
.detailsImg .type div:nth-child(1){
  font-weight: 400;
  color: #2c3e50;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.detailsImg .type div:nth-child(2){
  font-size: .875em;
  color: #2c3e50;
}
.generalInformation{
  display: flex;
  width: 100%;
}
.rowGeneralInformation{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10%;
  padding: 10px;
}
.rowGeneralInformation h5, .h5{
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #143F6B;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.rowGeneralInformation .role{
  color: gray;
}
.rowGeneralInformation .information{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rowGeneralInformation span{
  text-transform: capitalize;
  color: #143F6B;
  font-size: 1.1rem;
  font-weight: 500;
}
.rowGeneralInformation p{
  text-transform: capitalize;
  color: gray;
  font-size: 1.1rem;
  font-weight: 400;
}
.rowGeneralInformation .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #143F6B;
  margin-left: 80%;
}

.rowGeneralInformation .sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowGeneralInformation .sign svg {
  width: 17px;
}

.rowGeneralInformation .sign svg path {
  fill: white;
}
.rowGeneralInformation .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.rowGeneralInformation .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.rowGeneralInformation .Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
.rowGeneralInformation .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
.rowGeneralInformation .Btn:active {
  transform: translate(2px ,2px);
}

.rightPatientProfile{
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}
.paientAppointments{
  height: 50%;
  width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 3%;
  align-items: center;
}
.paientAppointments h1{
  text-transform: capitalize;
  color: #143F6B;
}
.paientAppointments .patientACard{
  width: 100%;
  background-color: #87cfeb60;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  transition: all ease-in-out .2s;
  justify-content: space-around;
}
.paientAppointments .patientACard:hover{
  background-color: rgba(211, 211, 211, 0.692);
}
.paientAppointments .patientACard:hover .showIcons{
  opacity: 1;
}


.paientAppointments .patientACard .appointInfo p{
  font-size: 1rem;
  font-weight: 500;
  color: #143F6B;
}
.paientAppointments .patientACard .showIcons{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  opacity: 0;
  transition: all ease-in-out .2s;
}
.paientAppointments .patientACard .showIcons img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}






/* be doctor form */

.bedoc{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bedoc .form{
  width: 900px;
  height: 710px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  background-color: rgb(173, 216, 230);
}
.bedoc .img{
  width: 50%;
  height: 100%;
}
.bedoc .img img{
  width: 500px;
  height: 500px;
  position: absolute;
  left: -10%;
  top: 15%;
  border-radius: 76% 24% 83% 17% / 19% 74% 26% 81%  ;
  background-color: white;
}
.bedoc .forminfo{
  width: 60%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bedoc .forminfo h1{
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.bedoc .forminfo form{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.bedoc .forminfo form .formrow{
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 10px 0;
}
.bedoc .forminfo form .formrow .forminput{
  display: flex;
  flex-direction: column;
}
.cat{
  text-transform: capitalize;
  color: #2c3e50;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 10px 0;
}
.forminput input{
    outline: none;
    width: 170px;
    padding: 5px 10px;
    font-size: .8rem;
    color: midnightblue;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #87cefa;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    transition: 1s ease-in-out all;
}
.forminput label{
  text-transform: capitalize;
  margin-bottom: 5px;
}
.forminput select{
  outline: none;
  width: 200px;
  border-radius: .5rem;
  padding: 5px 10px;
  border: .0625rem solid #87cefa;
  background-color: #fff;
  color: midnightblue;
}
.forminput textarea{
  outline: none;
  border-radius: 10px;
  width: 170px;
  height: 100px;
  padding: 5px;
}
/* .certificate{
  margin-top: 10px;
  display: flex;
  position: relative;
}
.forminput .file{
    width: 50px;
    cursor: pointer;
    padding: 15px;
    opacity: 0;
    top: 0;
    left: 7%;
    position: absolute;
}
.selectedCert{
  background-color: white;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  color: black;
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.selectedCert img{
  width: 30px;
  height: 30px;
  border-radius: 10px;
} */
.forminput .file{
  width: 250px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.forminput input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: midnightblue;
  cursor: pointer;
  transition: .2s ease-in-out;
  background-color: rgba(173, 216, 230, 0.329);
}
.apply{
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 0 0 0% 70%;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  color: white;
  text-transform: capitalize;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apply span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.apply:hover span {
  color: black;
}

.apply::before,
.apply::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.apply::before {
  content: "";
  background: midnightblue;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.apply:hover::before {
  transform: translate3d(100%, 0, 0);
}







.notif{
  position: fixed;
  top: 4px;
  width: max-content;
  border-radius: 6px;
  background-color: #313e2c;
  color: #aaec8a;
  transform: translateY(-30px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;z-index: 999;
}
.notifBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 10px;
  text-transform: capitalize;
}

.notifProg{
  position: absolute;
  left: 4px;
  top: 4px;
  height: 3px;
  width: calc(100% - 8px);
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, #313e2c, #aaec8a);
  border-radius: inherit;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes progress {
  to {
    transform: scaleX(1);
  }
}



/* doctor profile */
.doctor {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.doctor .navbar{
  height: 100%;
  width: 20%;
  background-color: rgba(173, 216, 230, 0.329);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.doctor .page{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}
.doctor .page .header{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccccccbf;
}
.doctor .page .header h1{
  font-size: 1.6rem;
  color: midnightblue;
  text-transform: capitalize;
}
.doctor .page .content{
  width: 100%;
  height: 90%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
.doctor .page .content .center{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  padding: 1%;
  z-index: 2;
}
.doctor .page .content .right{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}
.right .appointments{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ccccccbf;
  width: 100%;
  height: 40%;
  padding: 10px;
  overflow: hidden;
  row-gap: 2%;
}
.appointments p{
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  font-weight: 500;
  padding: 10px;
  text-align: left;
  color: #143F6B;
}
.appointments p::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10PX;
  width: 100%;
  height: 1px;
  background-color: #ccccccbf;
}

.calendar{
  width: 100%;
  border-radius: 10px;
}
.md-tooltip-header{
  padding: 10px;
}
.md-tooltip-info{
  padding: 10px;
}
.booked{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3%;
}
.booked h3{
  text-transform: capitalize;
  color: #143F6B;
}
.bACard{
  width: 100%;
  background-color: #87cfeb60;
  padding: 20px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: all ease-in-out .3s;
  cursor: pointer;
}
.bACard:hover{
  transform: translateX(-1%);
}
.bACard img{
  border-radius: 50%;
  width: 50px;
}
.bACard .appointInfo h1{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
.bACard .appointInfo p{
  color: rgba(128, 128, 128, 0.749);
  font-size: .9rem;
}
.bACard .userAppoint{
  width: 30px;
  background-color: #fff;

}

.booked .showAllAppointments{
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.692);
  display: flex;
  transition: all ease-in-out .3s;
  cursor: pointer;
  text-transform: capitalize;
  column-gap: 2%;
  justify-content: center;
  text-decoration: none;
  color: #143F6B;
}
.booked .showAllAppointments:hover{
  transform: translateY(2%);
}
.showAllAppointments .viewAllIcon{
  width: 20px;
}
.middle{
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 2%;
}
.middleL{
  display: flex;
  width: 50%;
  flex-direction: column;
  row-gap: 2%;
}
.middleR{
  display: flex;
  width: 50%;
  flex-direction: column;
}

.showDocDates{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  row-gap: 2%;
  /* z-index: 2; */
}
.showDocDates h3{
  text-transform: capitalize;
  color: #143F6B;
}
.showDocDates .allDates{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.showDocDates .allDates .datesCards{
  background-color: #87cfeb60;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .2s all ease-in-out;
}
.showDocDates .allDates .datesCards .iconsDatesDoctor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10%;
  transition: all ease-in-out .2s;
  opacity: 0;
}

.showDocDates .allDates .datesCards .iconsDatesDoctor .doctoeDateImage{
  width: 20px;
  cursor: pointer;
}
.showDocDates .allDates .datesCards:hover{
  background-color: rgba(211, 211, 211, 0.692);
}
.showDocDates .allDates .datesCards:hover .iconsDatesDoctor{
  opacity: 1;
}
.addBtnIcon{
  width: 40px;
  margin: 10px 0 0 85%;
  cursor: pointer;
  transition: .2s all ease-in-out;
}
.addBtnIcon:hover{
  transform: scale(1.1);
}

.dates{
  width: 500px;
  display: none;
  position: fixed;
  left: 35%;
  top: 45%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.addDiv{
  color: red;
  margin: 3%;
}
.dates .promptBtns{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
}
.dates .cancelPrompt{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: darkred;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.dates .addPromptBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #35589A;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.dates .addPromptBtn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 50%;
  transition: .6s ease;
}

.dates .addPromptBtn span:nth-child(6) {
  position: relative;
}

.dates .addPromptBtn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.dates .addPromptBtn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.dates .addPromptBtn span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.dates .addPromptBtn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.dates .addPromptBtn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.dates .addPromptBtn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}


.dates .cancelPrompt span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 50%;
  transition: .6s ease;
}

.dates .cancelPrompt span:nth-child(6) {
  position: relative;
}

.dates .cancelPrompt span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.dates .cancelPrompt span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.dates .cancelPrompt span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.dates .cancelPrompt span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.dates .cancelPrompt span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.dates .cancelPrompt:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.updateDates{
  width: 500px;
  display: none;
  position: fixed;
  left: 35%;
  top: 45%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.addDiv{
  color: red;
  margin: 3%;
}
.updateDates .promptBtns{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
}
.updateDates .cancelPrompt{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: darkred;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.updateDates .addPromptBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #35589A;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.updateDates .addPromptBtn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 50%;
  transition: .6s ease;
}

.updateDates .addPromptBtn span:nth-child(6) {
  position: relative;
}

.updateDates .addPromptBtn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.updateDates .addPromptBtn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.updateDates .addPromptBtn span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.updateDates .addPromptBtn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.updateDates .addPromptBtn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.updateDates .addPromptBtn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}


.updateDates .cancelPrompt span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 50%;
  transition: .6s ease;
}

.updateDates .cancelPrompt span:nth-child(6) {
  position: relative;
}

.updateDates .cancelPrompt span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.updateDates .cancelPrompt span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.updateDates .cancelPrompt span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.updateDates .cancelPrompt span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.updateDates .cancelPrompt span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.updateDates .cancelPrompt:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}




.writeP{
  background-color: #06113C;
  color: white;
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-transform: capitalize;
  margin-left: 50%;
  cursor: pointer;
  transition: .3s ease-in-out all;
}
.writeP:hover{
  background-color: #87CEEB;
  color: #06113C;
}
.doctor .page .content .center .doctorInfo{
  width: 100%;
  height: 35%;
  position: relative;
  background: linear-gradient(90deg, #06113C, #143F6B);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.doctor .page .content .center .doctorInfo .doctorData{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: left;
}
.doctor .page .content .center .doctorInfo .doctorData h1{
  text-transform: capitalize;
  color: white;
  margin: 5px 0;
}
.doctor .page .content .center .doctorInfo .doctorData p{
  text-transform: capitalize;
  color: white;
  margin: 5px 0;
  font-size: .8rem;
}
.doctor .page .content .center .doctorInfo .doctorData p:nth-child(4){
  margin-top: 15px;
  font-size: 1rem;
}
.doctor .page .content .center .doctorInfo .doctorData span{
  color: goldenrod;
}

.doctor .page .content .center .doctorInfo img{
  position: absolute;
  right: 0;
  top: -30%;
  width: 300px;

}
.doctor .page .content .center .reports{
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  padding: 20px;
  border: 1px solid #ccccccbf;
  /* z-index: 2; */

}

.doctor .page .content .center .reports h3{
  width: 100%;
  height: 10%;
  text-transform: capitalize;
  text-align: left;
  font-size: 1rem;
  color: #143F6B;
}
.doctor .page .content .center .reports .numbers{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.doctor .page .content .center .reports .numbers .number{
  width: 120px;
  height: 115px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(315deg, #35589A, #85F4FF);
}
.doctor .page .content .center .reports .numbers .number div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: .8rem;
}
.doctor .page .content .center .reports .numbers .number img{
  width: 20px;
  height: 20px;
  margin-right: 5%;
}
.doctor .page .content .center .reports .numbers .number h1{
  font-size: 2.8rem;
  margin-top: 10px;
}
.doctor .page .content .center .charts{
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  column-gap: 2%;

}
.chart{
  width: 100%;
  border-radius: 10px;
}

.navbar .logo img{
  width: 150px;
}

.navbar .links{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.navbar .links .link{
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  text-align: left;
}

.navbar .links .link img{
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
.navbar .links .link:nth-child(1){
  background-color: #fff;

}
.navbar .links .link:nth-child(1):before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #87CEEB;
  width: 3px;
  height: 45px;
  border-radius: 5px;
}






.images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  position: absolute;
  padding: 10px;
  top: 0%;
  right: 0;
  width: 10%;
}
.notifIcon{
  border: 1px solid #87CEEB;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  cursor: pointer;
  position: relative;
}
.notifications::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87CEEB;
}
.header .profileIcon{
  border-radius: 50%;
  width: 35px;
}

/*  */











/* search doctors */

.home{
  min-height: 100vh;
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home section{
  width: 100%;
  position: relative;
  display: flex;
  min-height: 100vh;
}
.home section .cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  column-gap: 5%;
}
.home section .cards .card{
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform .5s ease;
}

.home section .cards .card .lazy{
  width: 100%;
  height: 100%;
}
.home section .cards .card img{
  width: 250px;
  /* height: 250px; */
}

.home section .cards .card .docInf{
  width: 100%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  align-items: center;
  justify-content: center;
}
.home section .cards .card .docInf h1{
  color: #87cefa;
  text-transform: capitalize;
}
.datesInf{
  display: flex;
}
.home section .cards .card .datesInf p{
  padding: 5px;
  color: #ccc;
}

.home .card button {
  padding: 10px;
  border: 2px solid #87cefa;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #87cefa;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}


.home .card button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #87cefa;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.home .card button:hover::before {
  width: 105%;
}
.home .card button:hover {
  color: #111;
}


.searchS{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  
}
.selectSearch select {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  cursor: pointer;
}
.selectSearch select::-ms-expand {
  display: none;
}
.selectSearch {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 5px;
  overflow: hidden;
  background-color: #143F6B;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
}



/* book appointment */
.af{
  background-color: #87CEEB;
  width: 800px;
  height: 300px;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  position: fixed;
  top: 30%;
}

.af h1{
  color: white;
  margin-bottom: 3%;
  text-transform: capitalize;
}
.af .row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}
.af .row .inputP{
  display: flex;
  flex-direction: column;
}
.af .row .inputP label{
  margin-bottom: 1%;
  color: white;
  text-transform: capitalize;
}
.af .row .inputP input{
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.af button{
  /* width: 150px; */
  outline: none;
  border: none;
  background-color: #143F6B;
  color: white;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: .9rem;
}
.af button:hover{
  background-color: white;
  transition: ease-in-out .5s all;
  color: #06113C;
}
.af .msg{
  color: red;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.1rem;
  justify-content: center;
  --stroke: #666;
  --fill: #ffc73a;
}
.rating input {
  appearance: unset;
}
.rating label {
  cursor: pointer;
}
.rating svg {
  width: 1.5rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}
@keyframes idle {
  from {
      stroke-dashoffset: 24;
  }
}
.rating label:hover svg {
  stroke: var(--fill);
}
.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}
@keyframes yippee {
0% {
  transform: scale(1);
  fill: var(--fill);
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke: var(--stroke);
  stroke-dasharray: 10;
  stroke-width: 1px;
  stroke-linejoin: bevel;
  }
30% {
  transform: scale(0);
  fill: var(--fill);
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke: var(--stroke);
  stroke-dasharray: 10;
  stroke-width: 1px;
  stroke-linejoin: bevel;
  }
30.1% {
  stroke: var(--fill);
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
  }
60% {
  transform: scale(1.2);
  fill: var(--fill);
  }
}











/* Prescription form */


.prescriptionForm{
  position: fixed;
  left: 20%;
  top: 20%;
  width: 1000px;
  height: 550px;
  row-gap: 5%;
  z-index: 999;
  background-color: whitesmoke;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.prescriptionForm h1{
  color: #143F6B;
  text-transform: capitalize;
}
.prescriptionForm .rowPrForm {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5%;
  padding: 10px;
  border-radius: 10px;
}
.prescriptionForm .rowPrForm .drugSearch {
  width: 60%;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: white;
  color: #143F6B;
  border: none;
}
.prescriptionForm .rowPrForm .drugSearch::placeholder{
  color: #143F6B;
}
.prescriptionForm .rowPrForm .drugSearch:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);

}

.prescriptionForm .rowPrForm .drugSelect {
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  color: #143F6B;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: white;
  border: none;
}

.prescriptionForm .rowPrForm .drugSelect:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.prescriptionForm .rowPrForm .labelInput{
  display: flex;
  flex-direction: column;
  position: relative;
}
.prescriptionForm .rowPrForm .labelInputRadio{
  display: flex;
  flex-direction: column;
  position: relative;
}
.prescriptionForm .rowPrForm .labelInputRadio .radioL{
  text-transform: capitalize;
  color: #143F6B;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 1.2rem;
}
.radio-buttons-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #143F6B;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #4c8bf5;
  color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 10px #4c8bf580;
}


.prescriptionForm .rowPrForm .labelInput label{
  text-transform: capitalize;
  color: #143F6B;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 1.2rem;
}
.prescriptionForm .rowPrForm .labelInput input{
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: white;
  border: none;
  color: #143F6B;
}

.prescriptionForm .rowPrForm .labelInput input:focus{
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.prescriptionForm .rowPrForm .labelInput textarea{
  padding: 5px;
  border-radius: 10px;
  outline: none;
  background-color: white;
  border: none;
  color: #143F6B;
}
.prescriptionForm .rowPrForm .labelInput textarea:focus{
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.prescriptionForm button{
  padding: 10px 30px;
  outline: none;
  text-transform: capitalize;
  background-color: #143F6B;
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 70%;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: .2s ease-in-out all;
}
.prescriptionForm button:hover{
  background-color: #35589A;
}
.prescriptionForm .close{
  width: 35px;
  position: absolute;
  right: -3%;
  top: -3%;
  cursor: pointer;
}









/* allBookedAppointments page */

.allBookedAppointments{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.allBookedAppointments h1{
  color: #143F6B;
  text-transform: capitalize;
  margin-bottom: 1%;
}
.allBookedAppointments div{
  width: 70%;
  margin-bottom: 1%;
}
.allBookedAppointments div .appointInfo{
  text-align: left;
}



.prescriptionCard{
  width: 600px;
  height: 300px;
  background-color: whitesmoke;
  position: fixed;
  top: 30%;
  left: 30%;
  border-radius: 10px;
  padding: 10px;
  display: none;
}
.prescriptionCard img{
  position: absolute;
  top: -25%;
  left: -10%;
  width: 250px;
}
.prescriptionCard h1{
  color: #143F6B;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 2%;
}
.prescriptionCard span{
  font-size: 1.2rem;
  font-weight: 500;
}
.prescriptionCard p{
  color: darkgray;
  font-size: 1.1rem;
  letter-spacing: 1px;
  position: absolute;
  bottom: 1%;
  left: 43%;
}
.prescriptionCard .currentDrugs{
  display: flex;
  flex-direction: column;
}
.prescriptionCard .currentDrugs ul{
  color: #143F6B;
  padding: 0;
  margin: 0;
}

.prescriptionCard .currentDrugs h1{
  text-align: left;
  margin-left: 27%;
}
.allBookedAppointments .viewPatient{
  padding: 8px 20px;
  background-color: #143F6B;
  color: white;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: 600;
  transition: .2s all ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.allBookedAppointments .viewPatient:hover{
  background-color: white;
  color: #143F6B;
}
/*  */

/* show notifications */

.notificationsPage{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: whitesmoke; */
}
.notificationsPage .up{
  width: 100%;
  height: 10%;
  padding: 10px;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notificationsPage .down{
  width: 100%;
  height: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notificationsPage .down div{
  width: 1000px;
  height: 90px;
  margin-bottom: 3%;
  background-color: #87cfeb60;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #143F6B;
}
.notificationsPage .down p{
  text-transform: capitalize;
  color: #143F6B;
  font-weight: 500;
  font-size: 1.1rem;
}
.notificationsPage .cong{
  width: 50px;
  margin-right: 2%;
}

/*  */


/* view patient profile */

.viewPatientProfile{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5%;
}
.viewPatientProfile .profileCard{
  width: 900px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5%;
  background-color: whitesmoke;
  padding: 10px;
}
.viewPatientProfile .profileCard img{
  width: 150px;
  border-radius: 50%;
}
.viewPatientProfile .profileCard .name{
  color: #143F6B;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.viewPatientProfile .profileCard .label{
  color: #143F6B;
  text-transform: capitalize;
  text-align: left;
  width: 100%;
  font-size: 1.3rem;
}
.viewPatientProfile .profileCard .sessions{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}
.viewPatientProfile .profileCard .sessions::before{
  content: '';
  position: absolute;
  bottom: 40%;
  left: 10%;
  background-color: #143F6B;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.viewPatientProfile .profileCard .sessions p{
  color: #143F6B;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
}
.viewPatientProfile .profileCard .sessions span{
  font-weight: 500;
}
.viewPatientProfile .profileCard ul{
  color: #143F6B;
  width: 100%;
  padding: 10px;
  text-align: left;
  margin-left: 40%;
  text-transform: capitalize;
}

/*  */


/* src/Chat.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
