@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



/* Login & Register */
.login{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.login .container{
  position: relative;
  border-radius: 10px;
  width: 1000px;
  height: 800px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.login .container .user{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.login .container .user .imgBx{
  position: relative;
  width: 70%;
  height: 100%;
  transition: 0.5s;
}
.login .container .user .imgBx img{
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login .container .user .formBx{
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.login .container .user .formBx form h1{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  color: midnightblue;
  font-size: 20px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 200px;
}
.form__groupU{
  position: relative;
  width: 100%;
  display: flex;
  margin: 20px 0;
}
.form__groupF{
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 200px;
  display: flex;
}

.form__field,
.form__field2,
.form__field3,
.form__field4,
.form__field5,
.form__field6,
.form__field7{
  outline: none;
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
  font-size: 17px;
  color: #2c3e50;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}


.form__field::placeholder,
.form__field2::placeholder,
.form__field3::placeholder,
.form__field4::placeholder,
.form__field5::placeholder,
.form__field6::placeholder,
.form__field7::placeholder{
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label,
.form__field2:placeholder-shown ~ .form__label2,
.form__field3:placeholder-shown ~ .form__label3,
.form__field4:placeholder-shown ~ .form__label4,
.form__field5:placeholder-shown ~ .form__label5,
.form__field6:placeholder-shown ~ .form__label6,
.form__field7:placeholder-shown ~ .form__label7{
  font-size: 17px;
  cursor: text;
  top: 30px;
}

.form__label,
.form__label2,
.form__label3,
.form__label4,
.form__label5,
.form__label6,
.form__label7{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s ease-in-out;
  font-size: 17px;
  color: gray;
  pointer-events: none;
  text-transform: capitalize;
}

.form__field:focus,
.form__field2:focus,
.form__field3:focus,
.form__field4:focus,
.form__label5:focus,
.form__label6:focus,
.form__label7:focus{
  padding-bottom: 6px;
  border-width: 3px;
  border-bottom: 2px solid #87cefa;
}

.form__field:focus ~ .form__label,
.form__field2:focus ~ .form__label2,
.form__field3:focus ~ .form__label3,
.form__field4:focus ~ .form__label4,
.form__field5:focus ~ .form__label5,
.form__field6:focus ~ .form__label6,
.form__field7:focus ~ .form__label7{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #87cefa;
  font-weight: 500;
}


.form__field:required, .form__field:invalid,
.form__field2:required, .form__field2:invalid,
.form__field3:required, .form__field3:invalid,
.form__field4:required, .form__field4:invalid,
.form__field5:required, .form__field5:invalid,
.form__field6:required, .form__field6:invalid,
.form__field7:required, .form__field7:invalid{
  box-shadow: none;
}
.eg{
  width: 20px;
  height: 20px;
  float: left;
}
.birthday{
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid gray;
  color: #2c3e50;
}
.birthday::-webkit-calendar-picker-indicator {
  /* filter: invert(1); */
  color: midnightblue;
}
.login select{
  color: #2c3e50;
  outline: none;
}
.login select::-ms-expand {
  display: none;
}
.login select optgroup{
  color: #2c3e50;
}

.selectGender{
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
  outline: none;
}
.selectArea, .selectGov {
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  width: 200px;
  outline: none;

}


.send{
  max-width: 100px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  background-color: midnightblue;
  border-radius: 10px;
  border: solid 1px white;
  margin: 20px 200px 0 0;
  padding: 10px;
}
.send:hover{
  background-color: white;
  color: #87cefa;
  border: solid 1px #87cefa;
}
.login .container .user .formBx form .signup{
  position: relative;
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
  min-width: 300px;
  font-weight: 500;
}
.login .container .user .formBx form .signup a{
  text-decoration: none;
  font-weight: 600;
  color: #87cefa;
  text-transform: capitalize;
}
.login .container .singupBx{
  pointer-events: none;
}
.login .container.active .singupBx{
  pointer-events: initial;
}
.login .container .singupBx .formBx{
  top: 100%;
}
.login .container.active .singupBx .formBx{
  top: 0;
}
.login .container .singupBx .imgBx{
  top: -100%;
}
.login .container.active .singupBx .imgBx{
  top: 0;
}
.login .container .singinBx .formBx{
  top: 0;
}
.login .container.active .singinBx .formBx{
  top: 100%;
}
.login .container .singinBx .imgBx{
  top: 0;
}
.login .container.active .singinBx .imgBx{
  top: -100%;
}
.validation{
  color: red;
  font-size: 14px;
  visibility: hidden;
  text-align: left;
}
.validationR{
  color: red;
  font-size: 14px;
  visibility: hidden;
  text-align: left;
}
.max{
  color: red;
  font-size: 10pt;
  visibility: hidden;
  text-align: left;
}
#errMsg{
  color: red;
  font-size: 10pt;
  text-align: left;
  margin: 5px 0;
  width: 300px;
  transition: .5s ease-in-out all;
}
#sp, #sp2{
  visibility: hidden;
  transition: .5s ease-in-out all;
}
#r{
  margin-right: 60%;
}
#already{
  margin-right: 20%;
}

/* Login & Register */








.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
  min-height: 100vh;
}

.header {
  grid-column: 1 / span 2;
  padding: 10px;
  height: 10vh;
  position: relative;
}
.header div{
  display: flex;
  position: absolute;
  right: 0;
  top: 5%;
  padding: 10px;
  align-items: center;
}
.header div img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.header div p{
  font-size: 1rem;
  font-weight: 600px;
  margin-left: 15px;
  color: #2c3e50;
}
.section {
  grid-column: 1 / span 2;
  padding: 10px;
  display: flex;
  grid-gap: 50px;
  justify-content: center;
}
.form{
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 18px rgba(0,0,0,.02);
  border: .0625rem solid rgba(46, 54, 80, .125);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}
.form h5{
  text-transform: capitalize;
  color: #2c3e50;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.form form{
  width: 100%;
  height: 100%;
  padding: 10px;
}
.form form .row{
  display: flex;
  flex-wrap: wrap;
}
.form form .row .input{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.form form .row .input label{
  color: #2c3e50;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: .5rem;
}
.form form .row .input input{
    display: block;
    width: 300px;
    padding: .55rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #66799e;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #ccc;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    box-shadow: inset 0 1px 2px rgba(46,54,80,.075);
    transition: 1s ease-in-out all;
    outline: none;
}
.form form .row .input select{
    display: block;
    width: 200px;
    padding: .55rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #66799e;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #ccc;
    border-radius: .5rem;
    box-shadow: inset 0 1px 2px rgba(46,54,80,.075);
    transition: 1s ease-in-out all;
}
.detailsImg{
  margin-top: 100px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(46, 54, 80, .125);
    border-radius: .5rem;
    padding: 20px;
    box-shadow: 0 2px 18px rgba(0,0,0,.02);
    height: 200px;
}
.detailsImg h5{
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: 10px;
}
.detailsImg .fileDetails{
  display: flex;
  padding: 10px;
  align-items: center;
}
.detailsImg .fileDetails .imgPr{
  margin-right: 10px;
}
.detailsImg .fileDetails .imgPr img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.uploadPh{
  width: 40px;
  height: 40px;
}
.detailsImg input{
    width: 150px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.detailsImg .type{
  margin-left: 10px;
}
.detailsImg .type div:nth-child(1){
  font-weight: 400;
  color: #2c3e50;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.detailsImg .type div:nth-child(2){
  font-size: .875em;
  color: #2c3e50;
}



.bedoc{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bedoc .form{
  width: 900px;
  height: 710px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  background-color: rgb(173, 216, 230);
}
.bedoc .img{
  width: 50%;
  height: 100%;
}
.bedoc .img img{
  width: 500px;
  height: 500px;
  position: absolute;
  left: -10%;
  top: 15%;
  border-radius: 76% 24% 83% 17% / 19% 74% 26% 81%  ;
  background-color: white;
}
.bedoc .forminfo{
  width: 60%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bedoc .forminfo h1{
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.bedoc .forminfo form{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.bedoc .forminfo form .formrow{
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 10px 0;
}
.bedoc .forminfo form .formrow .forminput{
  display: flex;
  flex-direction: column;
}
.cat{
  text-transform: capitalize;
  color: #2c3e50;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 10px 0;
}
.forminput input{
    outline: none;
    width: 170px;
    padding: 5px 10px;
    font-size: .8rem;
    color: midnightblue;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #87cefa;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    transition: 1s ease-in-out all;
}
.forminput label{
  text-transform: capitalize;
  margin-bottom: 5px;
}
.forminput select{
  outline: none;
  width: 200px;
  border-radius: .5rem;
  padding: 5px 10px;
  border: .0625rem solid #87cefa;
  background-color: #fff;
  color: midnightblue;
}
.forminput textarea{
  outline: none;
  border-radius: 10px;
  width: 170px;
  height: 100px;
  padding: 5px;
}
/* .certificate{
  margin-top: 10px;
  display: flex;
  position: relative;
}
.forminput .file{
    width: 50px;
    cursor: pointer;
    padding: 15px;
    opacity: 0;
    top: 0;
    left: 7%;
    position: absolute;
}
.selectedCert{
  background-color: white;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  color: black;
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.selectedCert img{
  width: 30px;
  height: 30px;
  border-radius: 10px;
} */
.forminput .file{
  width: 250px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.forminput input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: midnightblue;
  cursor: pointer;
  transition: .2s ease-in-out;
  background-color: rgba(173, 216, 230, 0.329);
}
.apply{
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 0 0 0% 70%;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  color: white;
  text-transform: capitalize;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apply span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.apply:hover span {
  color: black;
}

.apply::before,
.apply::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.apply::before {
  content: "";
  background: midnightblue;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.apply:hover::before {
  transform: translate3d(100%, 0, 0);
}







.notif{
  position: absolute;
  top: 4px;
  width: max-content;
  border-radius: 6px;
  background-color: #313e2c;
  color: #aaec8a;
  transform: translateY(-30px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}
.notifBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 10px;
  text-transform: capitalize;
}
.notifIcon{
  height: 26px;
  width: 26px;
  margin-right: 4px;
}
.notifProg{
  position: absolute;
  left: 4px;
  top: 4px;
  height: 3px;
  width: calc(100% - 8px);
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, #313e2c, #aaec8a);
  border-radius: inherit;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes progress {
  to {
    transform: scaleX(1);
  }
}





.doctor {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.doctor .navbar{
  height: 100%;
  width: 20%;
  background-color: rgba(173, 216, 230, 0.329);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.doctor .page{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.doctor .page .header{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccccccbf;
}
.doctor .page .header h1{
  font-size: 1.6rem;
  color: midnightblue;
  text-transform: capitalize;
}
.doctor .page .content{
  width: 100%;
  height: 90%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
.doctor .page .content .center{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  padding: 1%;
}
.doctor .page .content .right{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right .appointments{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ccccccbf;
  width: 100%;
  height: 50%;
  /* overflow: hidden; */
  padding: 10px;
}
.appointments p{
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 100%;
  height: 13%;
  position: relative;
  font-weight: 500;
  padding: 10px;
  text-align: left;
}
.appointments p::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10PX;
  width: 100%;
  height: 1px;
  background-color: #ccccccbf;
}

.calendar{
  width: 100%;
  /* height: 87%; */
  border-radius: 10px;
}
.md-tooltip-header{
  padding: 10px;
}
.md-tooltip-info{
  padding: 10px;
}
.doctor .page .content .center .doctorInfo{
  width: 100%;
  height: 35%;
  position: relative;
  background: linear-gradient(90deg, #06113C, #143F6B);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.doctor .page .content .center .doctorInfo .doctorData{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: left;
}
.doctor .page .content .center .doctorInfo .doctorData h1{
  text-transform: capitalize;
  color: white;
  margin: 5px 0;
}
.doctor .page .content .center .doctorInfo .doctorData p{
  text-transform: capitalize;
  color: white;
  margin: 5px 0;
  font-size: .8rem;
}
.doctor .page .content .center .doctorInfo .doctorData p:nth-child(4){
  margin-top: 15px;
  font-size: 1rem;
}
.doctor .page .content .center .doctorInfo .doctorData span{
  color: goldenrod;
}

.doctor .page .content .center .doctorInfo img{
  position: absolute;
  right: 0;
  top: -30%;
  width: 300px;

}
.doctor .page .content .center .reports{
  width: 100%;
  height: 30%;
  border: 1px solid #ccccccbf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  padding: 20px;
}

.doctor .page .content .center .reports h3{
  width: 100%;
  height: 10%;
  text-transform: capitalize;
  text-align: left;
  font-size: 1rem;
}
.doctor .page .content .center .reports .numbers{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.doctor .page .content .center .reports .numbers .number{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: linear-gradient(315deg, #35589A, #85F4FF);
}
.doctor .page .content .center .reports .numbers .number div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: .8rem;
}
.doctor .page .content .center .reports .numbers .number img{
  width: 20px;
  height: 20px;
  margin-right: 5%;
}
.doctor .page .content .center .reports .numbers .number h1{
  font-size: 2.8rem;
  margin-top: 10px;
}
.doctor .page .content .center .charts{
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  column-gap: 2%;
}
.chart{
  width: 50%;
  border: 1px solid #ccccccbf;
  border-radius: 10px;
}

.navbar .logo img{
  width: 150px;
}

.navbar .links{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.navbar .links .link{
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  text-align: left;
}

.navbar .links .link img{
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
.navbar .links .link:nth-child(1){
  background-color: #fff;

}
.navbar .links .link:nth-child(1):before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #87CEEB;
  width: 3px;
  height: 45px;
  border-radius: 5px;
}

.doctor .header .search{
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 300px;
}
.doctor .header .search .searchInput{
  width: 100%;
  height: 35px;
  line-height: 28px;
  padding: 0 1rem 0 2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}
.doctor .header .search .searchInput::placeholder{
  color: #9e9ea7;
}

.searchInput:focus, .searchInput:hover {
  outline: none;
  border-color: #87cefa;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(173, 216, 230, 0.329);
}
.search .searchIcon{
  position: absolute;
  left: 5%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  width: 50%;
}
.doctor .header .notifIcon{
  border: 1px solid #87CEEB;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.doctor .header .profileIcon{
  border-radius: 50%;
  width: 35px;
  height: 35px;
}










.loader {
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
  z-index: 999;
  visibility: hidden;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before8 2s infinite;
}
.loader:after {
  animation: after6 2s infinite;
}
@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}




